@font-face {
    font-family: Comicsans;
    src: url(Fonts/Comic\ Sans\ MS.ttf);
}

@font-face {
    font-family: Brownie;
    src:url(Fonts/BrownieCreamDemoRegular.ttf)
}

@font-face {
    font-family: Unisans-heavy;
    src: url(Fonts/Uni\ Sans\ Heavy.otf);
}

@font-face {
    font-family: Fredoka;
    src: url(Fonts/FredokaOne-Regular.ttf);
}

body {
    margin: 0;
    place-content: center;
}

.buttons {
    font-family: Unisans-heavy, Arial, Helvetica, sans-serif;
}

p {
    font-family: Comicsans, Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 100;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    font-size: 56px;
}

h2, h3, h4, h5, h6 {
    font-family: Comicsans, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 10px;
    margin: 0;
}

/* Header */
.header { 
    position: relative;
    padding: 25px 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 120px 1fr;
    border-bottom: solid 4px #000;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header::before {
    background-image: url(200kbimg/planet.jpg);
    background-size: cover;
    background-position: top;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 1;
}

.header img {
    isolation: isolate;
    width: 110px;
    grid-column: 1;
    grid-row: 1;
}

.navbar, #menu {
    display: none;
}

#menu:checked ~ nav{
    display: block;
}

.navbar {
    padding-top: 20px;
    position: relative;
    grid-column: 1/3;
    grid-row: 2;
    font-weight: 550;
}

.navbar a {
    display: block;
    margin: 0 0 10px 0;
}

.hamburger-icon {
    color: #41A3E1;
    isolation: isolate;
    grid-row: 1;
    grid-column: 2;
    font-size: 35px;
    margin-right: 20px;
    justify-self: right;
}

.navbar {
    text-align: center; 
}

.navbar a {
    font-family: Comicsans, Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0 20px 0 20px;
    font-size: 20px;
    color: #41A3E1;
    text-decoration: none;
}

.navbar a:hover, .navbar a.active {
    color: rgb(255, 255, 255);
}


/* Top Section Home Page */
.topsection {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    background-position: center;
    background-size: 250%;
    position: relative;
    height: 370px;
    background-color: rgb(0, 0, 0);
}

.topsection::before {
    background-image: url(200kbimg/exhibition.jpg);
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.65;
}

.logotext {
    justify-items: center;
    grid-row: 2;
    grid-column: 1/3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    isolation: isolate;
    
}

.logotext h1 {
    font-family: Brownie;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px #000;
}

#explore-btn {
    grid-row: 3;
    grid-column: 2;
    font-size: 23px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    width: 150px;
    height: 70px;
    align-content: center;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    isolation: isolate;
}

#explore-btn:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #41A3E1;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Middle Section Home Page */ 
.middlesection {
    display: grid;
    grid-template-rows: repeat(8, auto-fit);
    justify-self: center;
    max-width: 500px;
    margin: 10px;
}

.img-text {
    display: flex;
    flex-wrap: nowrap;
    min-width: 200px;
    max-width: 500px;
}

.img-text img{
    min-width: 160px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 7px 0 0;
}

.girlmath-img-container {
    display: grid;
    grid-row: 1fr 1fr;
    background-image: url(200kbimg/learn.jpg);
    background-size: cover;
}

.girlmath-img-container p {
    height: 200px;
}

/* Bottom Section Home Page */
.bottomsection {
    display: grid;
    grid-template-columns: repeat(2, auto-fill);
    grid-template-rows: 200px 1fr;
    justify-self: center;
    max-width: 500px;
    margin: 10px 10px 50px;
    gap: 0 10px;
}

.readingkid {
    grid-column: 1;
}

#kidread {
    width: auto;
    height: 250px;
    grid-column: 2;
}

#forkids-btn {
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    justify-self: center;
    align-content: center;
    text-align: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 10px;
}

#forkids-btn:hover {
    color: #ffffff;
    background-color: #41A3E1;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

/* For Kids */
.kids-topsection {
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    grid-template-rows: repeat(3, auto-fill);
    justify-content: center;
}

#forkids-h1 {
    justify-self: center;
}

.mammoth-container {
    margin: 10px;
    grid-row: 2;
    grid-column: 1;
}

#mammoth-img {
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
    max-height: 100%;    
}

#newtonian {
    grid-column: 1;
}

.science-container {
    margin: 10px;
    grid-row: 3;
}

#message-btn {
    grid-row: 4;
    font-size: 22px;
    background-color: #000;
    color: #fff;
    justify-self: center;
    align-content: center;
    text-align: center;
    width: 250px;
    height: 70px;
    text-decoration: none;
    border-radius: 10px;
}

#message-btn:hover {
    color: #ffffff;
    background-color: #41A3E1;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.scient-img {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

#scient-img {
    flex-direction: row;
    width: 100%;
}

#starclub {
    grid-row: 5;
    margin: 10px;
    padding-top: 60px;
}

.biletto-img-container {
    background-image: url(200kbimg/billetto.jpg);
    background-size: cover;
}

.biletto-img-container p {
    height: 200px;
}

#billetto-img {
    width: 100%;
    height: max(100%);
}

.kids-bottomsection {
    margin: 0 10px 0 10px;
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    grid-row: repeat(3, fit-content);
    justify-content: center;
}

#forteachers {
    justify-self: center;
}

#teacher-img {
    max-width: 300px;
    padding-bottom: 25px;
}

/* Get Involved */
#getinvolved-h1 {
    align-self: center;
    justify-self: center;
}

.getinvolved-top {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    justify-content: center;
}

.getinvolved-top h1 {
    justify-self: center;
    font-size: 32px;
}

.ballimg-img-container {
    background-image: url(200kbimg/ball.jpg);
    background-size: cover;
    background-position: center;
}

.ballimg-img-container p {
    height: 200px;
}

.getinvolved-middle {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    justify-content: center;
}

.getinvolved-bottom {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    justify-content: center;
}

.getinvolved-bottom img {
    width: 100%;
    padding-bottom: 75px;
}

.heart-img {
    display: flex;
    justify-content: center;
}

#heart {
    max-width: 100%;
    max-height: 310px;
    padding-bottom: 75px;
}

/* Exhibition Spaces */
.exhabit-topsection, .Biology-section, .exhabit-middlesection, .exhabit-bottomsection {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    justify-content: center;
}

#exh-h1{
    text-align: center;
    justify-self: center;
}

.astronaut-img-container {
    display: flex;
    justify-content: center;
}

#astronaut {
    max-width: 100%;
    max-height: 310px;
    justify-self: center;
    grid-row: 2;
}

.celso-img-container {
    background-image: url(200kbimg/celso.jpg);
    background-size: cover;
    background-position: center;
}

.celso-img-container p {
    height: 200px;
}

.exhabit-middlesection {
    display: grid;
    grid-template-columns: minmax(min-content, 150px);
}

.robot-text {
    grid-column: 1/3;
}

#samuel {
    max-width: 100%;
    align-self: center;
    height: 300px;
}

.william-img-container p {
    height: 200px;
    width: 550px;
}

.exhabit-bottomsection {
    padding-bottom: 80px;
}

/* Visit */
.visit-topsection, .visit-bottomsection {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(min-content, 450px);
    justify-content: center;
    align-content: start;
}

#visit-h1 {
    justify-self: center;
}

.admission-container {
    display: flex;
    align-items: center;
}

.hours-container {
    display: flex;
}

#toa {
    max-width: 100%;
    max-height: 200px;
    padding-left: 7px;
}

#roberto {
    max-width: 100%;
    max-height: 200px;
    padding-right: 7px;
}

#sandwitch {
    width: 100%;
    padding-bottom: 75px;
}

.map-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 10px;
}

iframe {
    width: 100%;
}

/* Footer */
.footer {
    padding: 42px 30px 42px;
    border-top: solid 4px #000;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    font-family: Comicsans, Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding: 0 7px;
    font-weight: 550;
}

.footer a:hover {
    color: #41A3E1;
}


@media only screen and (min-width: 391px) {
    .exhabit-middlesection {
        grid-template-columns: minmax(min-content, 170px);
    }
}

@media only screen and (min-width: 410px) {
    .exhabit-middlesection {
        grid-template-columns: minmax(min-content, 200px);
    }
}

@media only screen and (min-width: 450px) {
    .exhabit-middlesection {
        grid-template-columns: minmax(min-content, 250px);
    }
}

@media only screen and (min-width: 768px) {
    .header::before {
        background-size: 620px;
        background-position: top;
    }

    .header a{
        grid-column-start: 1;
        grid-row: 1;
    }
    .navbar {
        display: block;
        grid-row: 1;
        grid-column-start: 2;
    }
  
    .hamburger-icon {
        display: none;
    }

    .navbar a {
        display: inline-block;
        font-size: 18px;
        padding: 5px;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 900px) {
    .navbar a {
        font-size: 20px;
    }

    .footer a{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1070px) {
    h2, h3, h4, h5, h6 {
        font-size: 35px;
        padding-top: 10px;
        margin: 0;
    }
    
    p {
        font-size: 20px;
    }
    
    .navbar a {
        padding-right: 30px;
    }

    .home-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto-fit);
    }

    .topsection {
        grid-column: 1/3;
    }

    .logotext h1{
        font-size: 60px;
    }

    #explore-btn {
        font-size: 30px;
        width: 200px;
        height: 75px;
    }

    .middlesection {
        grid-row: 2;
        justify-self: end;
    }

    .bottomsection {
        grid-row: 2;
        grid-column: 2;
        justify-self: start;
    }

    .girlmath-img-container {
        grid-row: 3;
        grid-column: 1/3;
        margin-bottom: 100px;
        background-position: center;
    }

    #kidread {
        height: 350px;
        padding-top: 25px;
    }

    #forkids-btn {
        font-size: 30px;
        width: 250px;
        height: 75px;
    }

    .footer a{
        font-size: 20px;
        padding-right: 75px;
    }

    .kids-topsection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 0 200px 0 200px;
    }

    #forkids-h1 {
        grid-column: 1;
    }

    .mammoth-container {
        grid-column: 1;
        grid-row: 1;
    }
    
    .science-container {
        grid-column: 2;
        grid-row: 1;    
    }

    #scient-img {
        max-width: 539px;
    }
    
    #message-btn{
        grid-column: 2;
        width: 300px;
        height: 100px;
        font-size: 30px;
    }
    
    #starclub {
        padding-top: 100px;
        grid-column: 1/3;
    }
    
    .biletto-img-container {
        grid-row: 4;
        margin-bottom: 100px;
    }

    .kids-bottomsection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 200px 100px;
    }

    .kids-bottomsection p {
        grid-column: 1;
    }

    .kids-bottomsection img {
        grid-column: 2;
        grid-row: 1/3;
    }

    #teacher-img {
        max-width: 400px;
        padding: 0;
        align-self: center;
    }

    .getinvolved-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .getinvolved-main h1 {
        grid-row: 1;
        grid-column: 1/3;
        justify-self: center;
    }

    .getinvolved-top {
        grid-column: 1;
        grid-row: 2;
        justify-content: end;
    }

    .getinvolved-middle {
        grid-column: 2;
        grid-row: 2;
        justify-content: start;
    }

    .ballimg-img-container {
        grid-column: 1/3;
        grid-row: 3;
    }

    .getinvolved-bottom {
        justify-content: end;
        align-content: start;
        padding-bottom: 120px;
    }

    #internship {
        padding-top: 60px;
    }
    
    #heart {
        width: 500px;
        justify-self: start;
        padding-top: 60px;
        align-self: center;
    }

    .exhibition-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        gap: 30px 15px;   
    }

    #exh-h1 {
        grid-column: 1/3;
    }

    .exhabit-topsection{
        grid-template-columns: minmax(min-content, 910px);
        grid-row: 2;
        grid-column: 1/3;
    }

    .astronaut-img-container {
        justify-content: start;
        align-items: center;
    }

    .Biology-section{
        grid-column: 1;
        grid-row: 3;
        justify-content: end;
    }

    .celso-img-container {
        grid-row: 4;
        grid-column: 1/3;
        margin: 20px 0 50px 0;
    }

    .exhabit-middlesection {
        grid-template-columns: 1fr, 2fr;
        grid-template-rows: repeat(2, auto-fill);
        justify-content: end;
        padding-bottom: 80px;
        gap: 0 10px;
    }

    .exhabit-bottomsection {
        justify-content: start;
    }
    
    .visit-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
    }

    #visit-h1 {
        grid-column: 1/3;
        grid-row: 1;
        justify-self: center;
    }

    .visit-topsection {
        justify-content: end;
    }

    .visit-bottomsection {
        justify-content: start;
    }

    .map-container {
        display: grid;
        grid-template-columns: 1000px;
        justify-content: center;
        grid-column: 1/3;
        margin-bottom: 50px;
    }
    
    }